<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/Styles/Site.css" rel="stylesheet" />
    
</head>

<body>
<header>
<div class="user-info">
    <div class="user-text-info">

        <span id="name">João Rafael da Silva</span>  
        <br />      
        <span id="username">jrafael</span>
    </div>
    <div class="user-image">
        <img src="../Content/Images/user-no-image.jpg" />
    </div>
</div>
</header>
   <table id="menu">
       <tr>
            <td>@Html.ActionLink("Início", "Welcome", "Home")</td>
            <td>@Html.ActionLink("Funcionalidades", "ListFeatures", "Membership")</td>
            <td>@Html.ActionLink("Usuários", "ListUsers", "Membership")</td>            
            <td>@Html.ActionLink("Sair", "LogOut", "Membership")</td>
       </tr>
   </table>
    <br />
     @RenderBody()
</body>
</html>