@model CustomFramework.Security.Membership.Model.Feature

@{
    ViewBag.Title = "Funcionalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Funcionalidade</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Funcionalidade</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Editar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar a consulta", "ListFeatures")
</div>
