@model IEnumerable<CustomFramework.Security.Membership.Model.Feature>
@{
    ViewBag.Title = "Funcionalidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Lista de Funcionalidades</h2>
<p>
    @Html.ActionLink("Cadastrar nova Funcionalidade", "CreateFeature")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditFeature", new { id = item.Id })
                @Html.ActionLink("Excluir", "DeleteFeature", new { id = item.Id }, new { onclick = "return confirm('Tem certeza que deseja excluir esta funcionalidade?');" })
            </td>
        </tr>
    }
</table>
